In [1]:
# load data from csv 

import pandas as pd 

df = pd.read_csv('employee.csv')

df

,Staff_ID,Staff_FName,Staff_LName,Dept,Position,Country,Email,Reporting_Manager,Role
0,130002,Jack,Sim,CEO,MD,Singapore,jack.sim@allinone.com.sg,130002,1
1,140001,Derek,Tan,Sales,Director,Singapore,Derek.Tan@allinone.com.sg,130002,1
2,150008,Eric,Loh,Solutioning,Director,Singapore,Eric.Loh@allinone.com.sg,130002,1
3,151408,Philip,Lee,Engineering,Director,Singapore,Philip.Lee@allinone.com.sg,130002,1
4,140894,Rahim,Khalid,Sales,Sales Manager,Singapore,Rahim.Khalid@allinone.com.sg,140001,3
...,...,...,...,...,...,...,...,...,...
549,210040,Trong,Nguyen,IT,IT Team,Singapore,Trong.Nguyen@allinone.com.sg,210001,2
550,210041,Seng,Saon,IT,IT Team,Singapore,Seng.Saon@allinone.com.sg,210001,2
551,210042,Naron,Savoeun,IT,IT Team,Singapore,Naron.Savoeun@allinone.com.sg,210001,2
552,210043,Phuc,Luon,IT,IT Team,Singapore,Phuc.Luon@allinone.com.sg,210001,2
553,210044,Chandara,Tithe,IT,IT Team,Singapore,tithe.chandra@allinone.com.sg,210001,2

### Get employee IDs

In [7]:
employee_ids = df['Staff_ID']

employee_ids.to_list()

[130002,
 140001,
 150008,
 151408,
 140894,
 140002,
 140003,
 140004,
 140015,
 140025,
 140036,
 140078,
 140102,
 140108,
 140115,
 140525,
 140736,
 140878,
 140880,
 140881,
 140882,
 140883,
 140886,
 140887,
 140888,
 140889,
 140890,
 140891,
 140892,
 140893,
 140895,
 140898,
 140900,
 140901,
 140940,
 140941,
 140942,
 140945,
 140947,
 140948,
 140008,
 140927,
 140928,
 140929,
 140933,
 140934,
 140935,
 140937,
 140938,
 140103,
 140910,
 140911,
 140912,
 140917,
 140918,
 140919,
 140879,
 140903,
 140904,
 140905,
 140908,
 140909,
 140944,
 140923,
 140924,
 140925,
 140926,
 150143,
 150065,
 150075,
 150076,
 150085,
 150095,
 150096,
 150115,
 150118,
 150125,
 150126,
 150138,
 150142,
 150245,
 150148,
 150155,
 150162,
 150163,
 150165,
 150166,
 150168,
 150175,
 150192,
 150193,
 150198,
 150205,
 150208,
 150215,
 150216,
 150232,
 150233,
 150238,
 150345,
 150258,
 150265,
 150275,
 150276,
 150282,
 150283,
 150288,
 150295,
 150318,
 150342,
 150343,
 150555,
 150348,
 150355,
 150356,
 150398,
 150422,
 150423,
 150428,
 150435,
 150445,
 150446,
 150488,
 150512,
 150513,
 150518,
 150525,
 151410,
 150866,
 150565,
 150566,
 150585,
 150608,
 150615,
 150632,
 150633,
 150638,
 150645,
 150655,
 150695,
 150705,
 150765,
 150776,
 150796,
 150826,
 150845,
 150938,
 150968,
 150976,
 150916,
 150918,
 150935,
 151008,
 151055,
 151056,
 151058,
 151118,
 151146,
 151198,
 151266,
 151288,
 151407,
 151441,
 151411,
 151412,
 151413,
 151452,
 151414,
 160008,
 170166,
 180001,
 210001,
 190019,
 190037,
 190059,
 190067,
 190070,
 190077,
 190086,
 190093,
 151505,
 151506,
 151507,
 151508,
 151509,
 151512,
 151514,
 151517,
 151518,
 151520,
 151521,
 151523,
 151524,
 151525,
 151526,
 151528,
 151533,
 151535,
 151536,
 151539,
 151540,
 151541,
 151543,
 151544,
 151545,
 151547,
 151549,
 151556,
 151558,
 151560,
 151561,
 151562,
 151563,
 151564,
 151567,
 151570,
 151573,
 151575,
 151576,
 151579,
 151580,
 151581,
 151582,
 151583,
 151584,
 151589,
 151590,
 151591,
 151595,
 151596,
 151598,
 151439,
 151443,
 151457,
 151471,
 151600,
 151601,
 151602,
 151603,
 151418,
 151459,
 151481,
 151498,
 151515,
 151534,
 151550,
 151574,
 151593,
 151610,
 151415,
 151417,
 151419,
 151420,
 151426,
 151427,
 151428,
 151430,
 151431,
 151432,
 151435,
 151438,
 151440,
 151425,
 151466,
 151484,
 151502,
 151519,
 151537,
 151559,
 151578,
 151597,
 151613,
 151433,
 151476,
 151493,
 151510,
 151527,
 151546,
 151568,
 151585,
 151416,
 151436,
 151479,
 151495,
 151513,
 151531,
 151548,
 151571,
 151444,
 151446,
 151447,
 151448,
 151450,
 151451,
 151456,
 151458,
 151464,
 151465,
 151467,
 151468,
 151469,
 151470,
 151472,
 151477,
 151480,
 151482,
 151483,
 151485,
 151487,
 151488,
 151489,
 151491,
 151492,
 151494,
 151496,
 151499,
 151500,
 151503,
 151605,
 151606,
 151607,
 151608,
 151609,
 151611,
 151612,
 160075,
 160302,
 160306,
 160318,
 160328,
 160335,
 160065,
 160076,
 160118,
 160135,
 160142,
 160143,
 160145,
 160146,
 160148,
 160155,
 160188,
 160212,
 160213,
 160218,
 160225,
 160258,
 160282,
 160283,
 160284,
 160286,
 160287,
 160288,
 160289,
 160290,
 160291,
 160293,
 160294,
 160295,
 160296,
 160297,
 160298,
 160299,
 160300,
 160301,
 160303,
 160304,
 160305,
 160307,
 160308,
 160313,
 160314,
 160315,
 160316,
 160317,
 160323,
 160324,
 160325,
 160326,
 160329,
 160330,
 160331,
 160332,
 160333,
 160334,
 160336,
 160337,
 160338,
 160339,
 171009,
 171014,
 171018,
 171029,
 171043,
 170208,
 170215,
 170216,
 170232,
 170233,
 170238,
 170245,
 170655,
 170866,
 171008,
 171010,
 171011,
 171012,
 171013,
 171015,
 171016,
 171017,
 171022,
 171023,
 171024,
 171026,
 171027,
 171044,
 171045,
 171046,
 171047,
 171048,
 171030,
 171031,
 171032,
 171033,
 171034,
 171035,
 171036,
 171038,
 171039,
 171041,
 171042,
 180012,
 180029,
 180002,
 180003,
 180004,
 180005,
 180006,
 180010,
 180011,
 180013,
 180014,
 180015,
 180019,
 180020,
 180021,
 180022,
 180023,
 180025,
 180026,
 180027,
 180030,
 180032,
 180033,
 180034,
 180036,
 180037,
 180038,
 190003,
 190004,
 190005,
 190006,
 190008,
 190009,
 190010,
 190014,
 190015,
 190016,
 190017,
 190018,
 190021,
 190022,
 190024,
 190025,
 190026,
 190027,
 190028,
 190029,
 190030,
 190031,
 190032,
 190033,
 190035,
 190036,
 190038,
 190040,
 190041,
 190042,
 190043,
 190044,
 190045,
 190046,
 190047,
 190048,
 190049,
 190050,
 190051,
 190052,
 190054,
 190055,
 190056,
 190057,
 190058,
 190064,
 190091,
 190092,
 190065,
 190066,
 190068,
 190069,
 190074,
 190075,
 190076,
 190078,
 190079,
 190080,
 190082,
 190087,
 190088,
 190089,
 190094,
 190095,
 190096,
 190097,
 190098,
 210018,
 210028,
 210017,
 210019,
 210020,
 210021,
 210022,
 210023,
 210024,
 210025,
 210026,
 210027,
 210029,
 210030,
 210031,
 210032,
 210033,
 210034,
 210035,
 210036,
 210037,
 210038,
 210039,
 210040,
 210041,
 210042,
 210043,
 210044]